//- _________________________
//- Mixins Definitions
include ../includes/mixins.pug

//- _________________________
//- HTML [Main Layout] Layout-Template
doctype html
html(lang="en", xmlns:th="http://www.thymeleaf.org")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo_vector.png}")
        title BlockMatrix Chain

        //- Bootstrap CSS-Only 
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
        link(rel="stylesheet" th:href="@{styles/main.css}")

        //- Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-158781103-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-158781103-1');

    body

        section

            //- TestNet Info Tags
            #status_bar.container(style="display: flex; justify-content: center; padding: 35px 0px;")
                .info
                    .mr-2 Test Net
                    span.dot

                .info
                    svg(width='22' height='21' viewbox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M20.3315 11.1459L16.0512 9.17561V7.39679C15.5928 7.16331 15.1756 6.85664 14.8159 6.48885V9.16944L10.8444 11.0224V6.27267C10.9188 6.26874 10.9919 6.25202 11.0606 6.22326L13.8277 4.95091C13.6737 4.55437 13.574 4.13885 13.5312 3.71561L10.8012 4.95091L7.6512 3.53032L10.8012 2.07885L13.5065 3.31414V3.26473C13.5066 2.84736 13.5626 2.43188 13.6733 2.02944L11.0483 0.843555C10.967 0.805928 10.8784 0.786438 10.7888 0.786438C10.6993 0.786438 10.6107 0.805928 10.5294 0.843555L5.89708 2.97444C5.78987 3.02405 5.69914 3.10338 5.63564 3.203C5.57215 3.30262 5.53856 3.41836 5.53885 3.5365V9.18179L1.27708 11.1459C1.16987 11.1955 1.07914 11.2748 1.01564 11.3745C0.952149 11.4741 0.918556 11.5898 0.918848 11.708V17.7486C0.918556 17.8667 0.952149 17.9824 1.01564 18.0821C1.07914 18.1817 1.16987 18.261 1.27708 18.3106L5.90944 20.4415C5.99074 20.4791 6.07926 20.4986 6.16885 20.4986C6.25844 20.4986 6.34696 20.4791 6.42826 20.4415L10.8012 18.428L15.1741 20.4415C15.2554 20.4791 15.344 20.4986 15.4336 20.4986C15.5231 20.4986 15.6117 20.4791 15.693 20.4415L20.3253 18.3106C20.4325 18.261 20.5233 18.1817 20.5868 18.0821C20.6503 17.9824 20.6838 17.8667 20.6836 17.7486V11.708C20.6844 11.5905 20.6517 11.4752 20.5894 11.3757C20.527 11.2761 20.4376 11.1964 20.3315 11.1459ZM3.03738 11.708L6.19355 10.2503L9.34973 11.7018L6.16885 13.1471L3.03738 11.708ZM6.16885 19.2V14.4503C6.25482 14.4439 6.33872 14.4208 6.41591 14.3824L10.1712 12.653V17.3471L6.16885 19.2ZM12.2836 11.708L15.4397 10.2565L18.5959 11.708L15.4397 13.1471L12.2836 11.708ZM15.4583 19.2V14.4503C15.5364 14.4438 15.6122 14.4206 15.6806 14.3824L19.4359 12.653V17.3471L15.4583 19.2Z' fill='white')
                        path(d='M18.139 6.35292C19.8445 6.35292 21.2272 4.97027 21.2272 3.26469C21.2272 1.5591 19.8445 0.176453 18.139 0.176453C16.4334 0.176453 15.0507 1.5591 15.0507 3.26469C15.0507 4.97027 16.4334 6.35292 18.139 6.35292Z' fill='#00A3FF')
                    span.ml-2.mr-1 BlockMatrix Status | 
                    span(th:text='${bm_verify}')  

            //- html 'section' code goes here
            block content

        //- Inlcude Footer
        include ../includes/✔️footer.pug

        //- Bootstrap JS CDNs
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

        //- Other JS Links
        script(type="text/javascript" th:src="@{js/main.js}")
        //- script(src="https://kit.fontawesome.com/62abfc2872.js", crossorigin="anonymous")
        //- script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
