extends ../layouts/main_layout.pug

block content

  //- _________________________
  //- Block Explorer Header
  .container.p-3

    .container(style="display: flex; align-items: center;")
      img(style="width: 48px; height: 48px;" th:src="@{/images/vector_cube.png}" alt="block_vector")
      span.p-2
        strong(style="font-size: 32px;") Block Explorer

    .container(style="display: flex; align-items: center;")
      i.fas.fa-info-circle
      span.p-2
        | Here you can find all of the details and in-depth information about the blockmatrix and
        br
        | discover all of the available RESTful APIs availble on the network.

    //- _________________________
    //- Switch Between Visual & Simple Blockexplorer
    button#simple_view_btn.button_main(type="button" th:onclick='getSimpleMatrixData()') Simple
    button#visual_view_btn.button_main(type="button" th:onclick='getVisualMatrixData()') Visual

  #simple_view_div

    //- _________________________
    //- [Simple View] BlockMatrix
    include ../includes/block_explorer_simple.pug

  #visual_view_div

    //- _________________________
    //- [Visual View] BLockMatrix
    include ../includes/block_explorer_visual.pug