extends ../layouts/main_layout.pug

block content

  section

    //- _________________________
    //- Block Explorer Header
    .container.p-3
    
      .container(style="display: flex; align-items: center;")
        img(style="width: 48px; height: 48px;" th:src="@{/images/vector_cube.png}" alt="block_vector")
        span.p-2
          strong(style="font-size: 32px;") Block Explorer
        div.ml-3
          span.p-2(style="background-color: #515151; color: white; border-radius: 10px; font-size: 10px;")
            strong.mr-2 BlockMatrix Status |
            strong(style="color: #62FE3B" th:text='${bm_verify}')  

      .container(style="display: flex; align-items: center;")
        i.fas.fa-info-circle
        span.p-2
          | Here you can find all of the details and in-depth information about the blockmatrix and
          br
          | discover all of the available RESTful APIs availble on the network.

    //- _________________________
    //- Row of User Visual Info of BlockMatrix
    include ../includes/row_block_explorer_info_view.pug

    //- _________________________
    //- [All] Blockmatrix Transactions Table
    include ../includes/table_bm_txs.pug