extends ../layouts/main_layout.pug

block content

  //- Page Header
  +header_page("Block Explorer", "@{/images/Vector.svg#block_icon}", "Here you can find all of the details and in-depth information about the blockmatrix and discover all of the available RESTful APIs availble on the network.")

  //- Simple View BlockMatrix
  #simple_view_div.container.p-3.enabled
    include ../includes/block_explorer_simple.pug

  //-  Visual View BLockMatrix [Deleted]
  #visual_view_div.container.p-3
    //- include ../includes/block_explorer_visual.pug