extends ../layouts/main_layout.pug

//- _________________________
//- Start of HTML file

block content

    section

        //- _________________________
        //- Wallet Dashboard [Header]
        header.container.m-5(style="display: flex; align-items: center;")
            i(style="float: left;" class="fas fa-wallet fa-2x")
            span.p-2
                strong(style="font-size: 32px;") Wallet Dashboard
            div.ml-3
                button(type="button" class="btn btn-outline-primary")
                    strong Access another wallet

        //- _________________________
        //- User Wallet Actions
        include ../includes/row_wallet_user_actions.pug

        //- _________________________
        //- [All] Blockmatrix Transactions
        include ../includes/table_wallet_user_txs.pug

        //- _________________________
        //- Dashboard Modal Box for Modifying Transaction Info
        include ../includes/modal_modifyTX.pug
        include ../includes/modal_newWallet.pug