extends ../layouts/main_layout.pug

//- _________________________
//- Start of HTML file

block content

    //- Header
    +header_page("Wallet Dashboard", "@{/images/Vector_wallet.png}")

    //- User Wallet Actions
    include ../includes/row_wallet_user_actions.pug

    //- Table
    include ../includes/table_wallet_user_txs.pug

    //- Modal(s)
    include ../includes/modal_modifyTX.pug
    include ../includes/modal_newWallet.pug