extends ../layouts/main_layout.pug

//- _________________________
//- Mixins Definitions

mixin my_button(btnText, num)
    button(type="button")
        if num == 1
            img(th:src="@{/images/Vector.png}")
        else if num == 2
            i(class="fas fa-key")
        else
            img(th:src="@{/images/NewWallet_icon.png}")
        span.p-2= btnText

mixin input_form(inputHeader, num)
    div(class="form-group mb-3")
        label(for="recipient_address" class="control-label")= inputHeader
        if num == 1
            input#r_address(autocomplete="off" type="text" class="form-control" aria-describedby="basic-addon3" required)
        if num == 2
            input#amount(autocomplete="off" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" th:name="funds" required)
        if num == 3
            input#msg(autocomplete="off" type="text" class="form-control" aria-label="Message" th:name="msg" required) 

//- _________________________
//- Start of HTML file

block content

    //- _________________________
    //- Alert -> Showing Private Key [Using Bootstrap]
    div(class="my_alert" role="alert")
        strong Private Key
        p
            span(th:text="${priv_address}")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;

    //- _________________________
    //- Wallet Dashboard [Header]
    header(class="container p-3")
        div(class="row")
            div(class="col-lg mx-auto")
                i(style="float: left;" class="fas fa-wallet fa-x2")
                h3
                    strong Wallet Dashboard

    //- _________________________
    //- User Wallet Actions
    include ../includes/wallet_actions_row.pug

    //- _________________________
    //- [All] Blockmatrix Transactions
    include ../includes/table_wallet_user_txs.pug

    //- _________________________
    //- [MY UTXOs] Transactions
    //- include ../includes/table_wallet_user_utxo.pug
