extends ../layouts/main_layout.pug

//- _________________________
//- Mixins Definitions

mixin my_button(btnText, num)
    button(type="button")
        if num == 1
            img(th:src="@{/images/Vector.png}")
        else if num == 2
            i(class="fas fa-key")
        else
            img(th:src="@{/images/NewWallet_icon.png}")
        span.p-2= btnText

mixin input_form(inputHeader, num)
    div(class="form-group mb-3")
        label(for="recipient_address" class="control-label")= inputHeader
        if num == 1
            input#r_address(autocomplete="off" type="text" class="form-control" aria-describedby="basic-addon3" required)
        if num == 2
            input#amount(autocomplete="off" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" th:name="funds" required)
        if num == 3
            input#msg(autocomplete="off" type="text" class="form-control" aria-label="Message" th:name="msg" required) 

//- _________________________
//- Start of HTML file

block content

    section

        //- _________________________
        //- Wallet Dashboard [Header]
        header.container(style="display: flex; align-items: center;")
            i(style="float: left;" class="fas fa-wallet fa-2x")
            span.p-2
                strong(style="font-size: 32px;") Wallet Dashboard
            div.ml-3
                button
                    strong Access another wallet

        //- _________________________
        //- User Wallet Actions
        include ../includes/row_wallet_user_actions.pug

        //- _________________________
        //- [All] Blockmatrix Transactions
        include ../includes/table_wallet_user_txs.pug