extends ../layouts/main_layout.pug

//- Start of New HTML file
block content

    .container-fluid.pb-3.pt-0.pl-5

        //- Header
        +header_page("Wallet Dashboard", "@{/images/Vector_wallet.svg}", "This is a simple user interface wallet dashboard from where the user can interact with the blockmatrix, manage their wallet information, view their transaction history and execute transactions to the network.")
        
    //- User Wallet Actions
    include ../includes/row_wallet_user_actions.pug

    //- Table
    include ../includes/table_wallet_user_txs.pug

    //- Modal(s)
    include ../includes/modal_modifyTX.pug
    include ../includes/modal_newWallet.pug