/* ____ ANIMATIONS ____*/
    
.dot
    animation: blinker 3s linear infinite;
    height: 8px;
    width: 8px;
    background-color: $terciary_light;
    border-radius: 50%;
    display: inline-block;

@keyframes blinker 
    50%
        opacity: 0;

.enabled
    display: block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;

@keyframes fadeInOpacity
	0%
		opacity: 0;
	
	100% 
		opacity: 1;
	
