#block_info
    .row
        .col
            box-shadow: 0px 4px 4px black;
            padding: 15px;
            margin: 25px;
            border-radius: 10px;
        
            h5
                font-size: 12px;

        .col:hover
            background-color: #708FFE;
            color: $primary_light;
            transition-duration: 0.2s;

        #matrix_search
            background-color: #708FFE;
            color: $primary_light;

.div_block
    margin: 30px;
    height: 100px;
    width: 100px;
    box-shadow: 10px -10px 0 $primary_dark, 0 0 10px $secondary_light_shadow;
    border-radius: 5px;

.div_block:hover
    padding: 10px;
    background-color: $secondary_light;
    color: $primary_light;

// ______________
// Block Explorer View Style
// ______________

#visual_view_div
    display: none;

#simple_view_div
    display: block;