#block_info
    .row
        .col
            box-shadow: 0 0 2px black;
            padding: 15px;
            margin: 25px;
            border-radius: 10px;

// On Hover
#block_info
    .row
        .col:hover
            background-color: #C0E8FF;
            transition-delay: 800;

// Table Line Divider
.vl
  border-left: 2px solid $secondary_light_shadow;
  height: 100%;

.div_block
    margin: 30px;
    height: 100px;
    width: 100px;
    box-shadow: 10px -10px 0 $primary_dark, 0 0 10px $secondary_light_shadow;
    border-radius: 5px;

.div_block:hover
    padding: 10px;
    background-color: $secondary_light;
    color: $primary_light;