// Project Button Styles
@mixin button_struct($bg_color, $txt_color)
    border: none;
    padding: 2px 8px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font:
        size: 12px;
        weight: bold;
    transition: 
        duration: 0.5s;
    background-color: $bg_color;
    color: $txt_color;
    margin: 0px 5px;

.button_main
    @include button_struct($primary_light, $secondary_dark);
    box-shadow: 0 0 4px $secondary_light_shadow;

    &:hover, &:focus, &:active
        background-color: #708FFE;
        color: $primary_light;

.button_main_light
    @include button_struct($primary_light, $secondary_dark);

    &:hover, &:focus, &:active
        background-color: $primary_dark;
        color: $primary_light;

.button_main_light_hollow
    @include button_struct(transparent, $primary_light);
    border: 1px solid $primary_light;
    font-size: 10px;

    &:hover
        background-color: $primary_light;
        color: #708FFE;

.info
    @include button_struct($primary_dark, $primary_light);

    strong:nth-child(n+3)
        color: #62FE3B;
