footer
    background-color: $secondary_dark;
    color: $primary_light;

    ul
        list-style-type: none;

    a
        font-weight: bold;
        text-decoration: none !important;
        color: $primary_light;

        &:hover
            color: $secondary_light;
            cursor: pointer;
