footer
    background-color: #ff8686;

// On Hover Footer Menu Actions
footer
    ul
        font-weight: bold;
        transition-delay: 0.3s;

    ul:hover
        color: black;
        cursor: pointer;
