#walletProfile_cont
    @include mainContainerStyle();

#sendFunds_cont
    @include secondaryContainerStyle();

#_btn_div_action_txt
    background-image: linear-gradient(to right, rgba(192, 232, 255, 0), rgba(192, 232, 255, 1), rgba(192, 232, 255, 0));
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    visibility: hidden;

    & p
        margin: 0px;
        color: #708FFE;
        font:
            size: 12px;
            weight: bold;
