// _________________
// Here lives the layout config for the dashboard

section
    height: 100vh;
    background-image: url(../../images/Theme.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

#status_bar
    position: relative;
