section
    min-height: 100vh;
    background: 
        image: url(../../images/Theme.png);
        repeat: no-repeat;
        size: contain;
        position: right;

#status_bar
    position: relative;
