table
    table-layout: fixed;
    
.overflow_style
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    background-image: linear-gradient(90deg,#000000 35%,rgba(0,0,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;