<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo.png}">
    <title>BlockMatrix Chain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles/main.css}">
  </head>
  <body>
    <div class="ml-3"><span class="info p-2 m-3"><strong class="mr-2">Test Net</strong><span class="dot"></span></span></div>
    <section>
      <div class="container p-3">
        <div class="container" style="display: flex; align-items: center;"><img style="width: 48px; height: 48px;" th:src="@{/images/vector_cube.png}" alt="block_vector"><span class="p-2"><strong style="font-size: 32px;">Block Explorer</strong></span>
          <div class="ml-3"><span class="p-2" style="background-color: #515151; color: white; border-radius: 10px; font-size: 10px;"><strong class="mr-2">BlockMatrix Status |</strong><strong style="color: #62FE3B" th:text="${bm_verify}"> </strong></span></div>
        </div>
        <div class="container" style="display: flex; align-items: center;"><i class="fas fa-info-circle"></i><span class="p-2">Here you can find all of the details and in-depth information about the blockmatrix and<br>discover all of the available RESTful APIs availble on the network.</span></div>
      </div>
      <div class="container p-3" id="block_info">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 text-center">
              <div class="row">
                <div class="col"><i class="fas fa-edit fa-2x"></i>
                  <h5><strong> Modified Blocks</strong></h5>
                  <h5 th:text="${mod_blocks}"> </h5>
                </div>
                <div class="col"><i class="fas fa-cubes fa-2x"></i>
                  <h5><strong> Blocks Count</strong></h5>
                  <h5 th:text="${block_num}"> </h5>
                </div>
                <div class="col"><img style="width: 32px; height: 32px;" th:src="@{/images/dimension_img_no_license.png}" alt="block_vector">
                  <h5><strong>BlockMatrix Dimensions</strong></h5>
                  <h5 th:text="${bm_dimen}"></h5>
                </div>
              </div>
              <div class="row">
                <div class="col"><i class="fas fa-exchange-alt fa-2x"></i>
                  <h5><strong>Number of Transactions</strong></h5>
                  <h5 th:text="${bm_all_transactions.size()}"></h5>
                </div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="vl"></div>
            </div>
            <div class="col-lg-4">
              <p> <strong>Explore Further</strong></p>
              <div class="btn-group" role="group">
                <button class="btn btn-outline-primary" type="button">Block</button>
                <button class="btn btn-outline-primary" type="button">Transaction</button>
                <button class="btn btn-outline-primary" type="button">User/Address</button>
              </div>
              <div class="form-group">
                <input class="mt-3 form-control" autocomplete="off" type="text">
              </div>
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container" style="display: flex; align-items: center;"><i class="fas fa-history fa-2x" style="float: left;"></i><span class="p-2"><strong style="font-size: 32px;">Transaction History</strong></span></div>
        <table class="table table-borderless m-3">
          <thead>
            <tr>
              <th scope="col">Transaction ID</th>
              <th scope="col">Sender</th>
              <th scope="col">Recipient</th>
              <th scope="col">Value</th>
              <th scope="col">Info</th>
              <th scope="col">Block Number</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="list_value : ${bm_all_transactions}">
              <td class="overflow_style"><strong th:text="${list_value.getTransactionId()}"></strong></td>
              <td class="overflow_style"><strong th:text="${@stringUtil.getStringFromKey(list_value.getSender())}"></strong></td>
              <td class="overflow_style"><strong th:text="${@stringUtil.getStringFromKey(list_value.getRecipient())}"></strong></td>
              <td><strong th:text="${list_value.getValue()}"></strong></td>
              <td><strong th:text="${list_value.getInfo()}"></strong></td>
              <td><strong th:text="${list_value.getBlockNumber()}"></strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer class="container-fluid">
      <div class="row p-4">
        <div class="col-lg text-white">
          <h3><strong>Matrix Technologies</strong></h3>
        </div>
        <div class="col-lg text-white">
          <ul>
                <li class="m-3"><a href="/">Home</a></li>
                <li class="m-3"><a href="/">About</a></li>
                <li class="m-3"><a href="/wallet">Wallet</a></li>
                <li class="m-3"><a href="/block_explorer">Block Explorer</a></li>
          </ul>
        </div>
        <div class="col-lg text-white">
          <ul>
                <li class="m-3"><a href="/">Follow Us</a></li>
                <li class="m-3"><a href="/">Join Us</a></li>
          </ul>
        </div>
      </div>
      <div class="container-fluid text-center">Copyright @ MatrixTechnologies 2020</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script src="https://kit.fontawesome.com/62abfc2872.js" crossorigin="anonymous"></script>
  </body>
</html>