<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo_vector.png}">
    <title>BlockMatrix Chain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{styles/main.css}">
  </head>
  <body>
    <section>
      <div class="container text-center m-3" id="status_bar">
        <div class="info p-2 m-3"><strong class="mr-2">Test Net</strong><span class="dot"></span></div>
        <div class="info p-2 m-3"><img style="width: 16px; height: 16px;" th:src="@{/images/Iconstatus.png}" alt="info_vector"><strong class="mr-2 ml-2">BlockMatrix Status |</strong><strong th:text="${bm_verify}"> </strong></div>
      </div>
      <header class="container m-5" style="display: flex; align-items: center;"><i class="fas fa-wallet fa-2x" style="float: left;"></i><span class="p-2"><strong style="font-size: 32px;">Wallet Dashboard</strong></span>
        <div class="ml-3">
          <button class="btn btn-outline-primary" type="button"><strong>Access another wallet</strong></button>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="container text-center mx-auto"><img class="img-fluid" th:src="@{/images/user_1.png}" alt="Avatar">
              <p class="m-2"><strong>~mbash</strong></p>
              <div class="btn-group-vertical">
                <button class="button_main_light text-left" type="button" id="cpy_pub_add" th:onclick="copyClipboard(this)" th:alt="${pub_address}"><i class="fas fa-copy"></i><span class="pl-2">Copy Wallet Address</span></button>
                <button class="button_main_light text-left" type="button"><i class="fas fa-key"></i><span class="pl-2">View Private Key</span></button>
                <button class="button_main_light text-left" type="button" id="new_wallet" th:onclick="createNewWallet()"><i class="fas fa-wallet"></i><span class="pl-2">Generate New wallet</span></button>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <h3> <strong>Wallet Balance</strong></h3><br>
            <h4><span th:text="${balance}"> </span><span class="p-2" style="font-size: 18px; color: #00A3FF;"><strong>Mx's</strong></span></h4>
          </div>
          <div class="col-lg">
            <form>
              <div class="form-group">
                <h3><strong>Send Funds</strong></h3>
                <div class="form-group mb-3">
                  <label class="control-label" for="recipient_address">Recipients Address</label>
                  <input class="form-control" id="r_address" autocomplete="off" type="text" aria-describedby="basic-addon3" required="required"/>
                </div>
                <div class="form-group mb-3">
                  <label class="control-label" for="recipient_address">Amount</label>
                  <input class="form-control" id="amount" autocomplete="off" type="text" aria-describedby="basic-addon3" required="required"/>
                </div>
                <label class="control-label" for="msg_text">Transaction Message</label>
                <div id="msg_text" contenteditable required></div>
              </div>
              <button class="btn btn-primary" type="submit" th:onclick="submitTX(this)">Send Transaction<span class="pl-2"><i class="fas fa-paper-plane"></i></span></button>
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container" style="display: flex; align-items: center;"><i class="fas fa-history fa-2x" style="float: left;"></i><span class="p-2"><strong style="font-size: 32px;">My Transaction History</strong></span></div>
        <table class="table table-borderless m-3">
          <thead>
            <tr>
              <th scope="col">Transaction ID</th>
              <th scope="col">Sender</th>
              <th scope="col">Recipient</th>
              <th scope="col">Value</th>
              <th scope="col">Info</th>
              <th scope="col">Block Number</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tsx : ${wallet_txs}">
              <td class="overflow_style"><strong th:text="${tsx.getTransactionId()}"></strong></td>
              <td class="overflow_style"><strong th:text="${@stringUtil.getStringFromKey(tsx.getSender())}"></strong></td>
              <td class="overflow_style"><strong th:text="${@stringUtil.getStringFromKey(tsx.getRecipient())}"></strong></td>
              <td><strong th:text="${tsx.getValue()}"></strong></td>
              <td class="overflow_style"><strong th:text="${tsx.getInfo()}"></strong></td>
              <td><strong th:text="${tsx.getBlockNumber()}"></strong></td>
              <td>
                <button class="btn btn-danger" id="select_tx_btn" style="font-size:12px;" th:onclick="clearData(this)">Modify Transaction Info</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Transaction Message</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label class="col-form-label" for="message-text"> <strong>Message</strong></label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" type="button">Delete </button>
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="button">Modify</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">New Wallet Details</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="wallet_info">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">I have stored the wallet keys somewhere safe</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="container-fluid">
      <div class="row p-4">
        <div class="col-lg-2 text-white"><img style="height: 64px;" th:src="@{/images/logo_footer.png}" alt="Atla Logo"></div>
        <div class="col-lg-3 text-white">
          <ul>
            <li class="m-3"><a href="/">Home</a></li>
            <li class="m-3"><a href="/">About</a></li>
            <li class="m-3"><a href="/">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 text-white">
          <ul>
            <li class="m-3"><a href="/wallet">Wallet</a></li>
            <li class="m-3"><a href="/block_explorer">Block Explorer</a></li>
          </ul>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="p-2" style="background-color: #515151; color: #C0E8FF;">Copyright @ 2020 Atla</div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
  </body>
</html>