.container.text-center
    .row
        .col-lg-5
            .row
                +info_block('@{/images/Vectormod_block.png}', 'Modified Blocks', '${mod_blocks}')(id="modBlock_data")
                +info_block('@{/images/Vector_blocks.png}', 'Blocks Count')(id="countBlock_data")
                +info_block('@{/images/dimension_img_no_license.png}', 'BlockMatrix Dimensions', '${bm_dimen}')
                +info_block('@{/images/dimension_img_no_license.png}', 'TX Number', '${bm_all_transactions.size()}')(id="tx_data")
                .col-lg-12.text-left
                    #matrix_search
                        .p-2
                            h6(style="display: inline-block;")
                                strong Search
                            for n in ["Block", "Transaction", "User/Address"]
                                button.button_main_light_hollow(style="display: inline-block;" type="button")= n
                        .p-2
                            input.mt-3(style="display: inline-block;" autocomplete="off" type="text" placeholder="enter transaction id")
                            button.button_main_light(style="display: inline-block;" type="submit") Search

        .col-lg-7#table_simple
            include table_bm_txs.pug