.container.text-center(style="max-height: 100%;")
    #row
        .col-lg-5.div
            .row
                +info_block('Modified Blocks', '${mod_blocks}')(id="modBlock_data")
                +info_block('Blocks Count')(id="countBlock_data")
                +info_block('BlockMatrix Dimensions', "${bm_dimen} + ' x ' + ${bm_dimen}")
                +info_block('TX Number', '${bm_all_transactions.size()}')(id="tx_data")

                .col-lg-12.text-left
                    #matrix_search
                        .p-2
                            h6(style="display: inline-block;")
                                strong Search
                            +btn_no_img('Block', 'btn_blockNum', 'enter block number')
                            +btn_no_img('Transaction', 'btn_txNum', 'enter transaction id')
                            //- TODO: +btn_no_img('User/Address', 'btn_userAddr', 'enter block number')
                        .p-2
                            input#input_select.mt-3(style="display: inline-block;" autocomplete="off" type="text" placeholder="enter transaction id")
                            button#search_matrix.button_main_light(style="display: inline-block;" type="submit") Search

        .col-lg-7#table_simple.div(style="max-height: 100%;")
            include table_bm_txs.pug