//- _________________________
//- Footer HTML Code
//- _________________________

footer.container-fluid
    .row.p-4
        .col-lg.text-white
            h3
                strong Matrix Technologies
        .col-lg.text-white
            for n in ["Home", "About", "Wallet", "Block Explorer", "Follow Us"]
                ul= n
        .col-lg.text-white
            for n in ["Follow Us", "Join us"]
                ul= n
        
    .container-fluid.text-center Copyright @ MatrixTechnologies 2020