footer.container-fluid
    .row.p-4
        .col-lg-2.text-white
            img(style="height: 64px;" th:src="@{/images/logo_footer.png}" alt="Atla Logo")
        .col-lg-3.text-white
            ul
                +footer_menu("Home", "/")
                +footer_menu("About", "/")
                +footer_menu("Contact", "/")
                
        .col-lg-3.text-white
            ul
                +footer_menu("Wallet", "/wallet")
                +footer_menu("Block Explorer", "/block_explorer")

    .container-fluid.text-center
        .p-2(style="background-color: #515151; color: #C0E8FF;") Copyright @ 2020 Atla