//- ______________
//- Modal for New Wallet Generated

#staticBackdrop.modal.fade(data-backdrop='static' data-keyboard='false' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#staticBackdropLabel.modal-title New Wallet Details
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            #wallet_info.modal-body
                p Modal body text goes here.
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') I have stored the wallet keys somewhere safe
