.container.m-5
    .row

        //- My Wallet Actions & Details
        .col-lg
            .container.text-center.mx-auto
                img.img-fluid(th:src="@{/images/user_1.png}" alt="Avatar")
                p.m-2
                    strong ~mbash

                //- Buttons Group [Bootstrap]
                .btn-group-vertical
                    +main_btn_img("Copy Wallet Address", "@{/images/Vector.png}")
                    +main_btn_img("View Private Key", 2)
                    +main_btn_img("Generate New wallet", "@{/images/NewWallet_icon.png}")

        //- Wallet balance
        .col-lg
            h3 
                strong Wallet Balance
            br
            h4
                span(th:text="${balance}") 
                span.p-2(style="font-size: 18px; color: #00A3FF;")
                    strong Mx's

        //- Wallet Send Funds Form Action
        .col-lg
            form
                .form-group
                    h3
                        strong Send Funds
                    +input_form("Recipients Address", 1)
                    +input_form("Amount", 2)
                    +input_form("Transaction Message", 3)
                    div#msg_text(contenteditable)
                button.btn.btn-primary(type="submit" th:onclick="submitTX(this)") Send Transaction
                    span.pl-2
                        i(class="fas fa-paper-plane")