.container
    .row

        //- ----------------------
        //- Wallet Profile
        //- ----------------------

        .col-lg-5#walletProfile_cont
            .container
                h3 Wallet Profile
                .row.text-center
                    .col
                        img.img-fluid(style="height: 64px;" th:src="@{/images/user_1.png}" alt="user_img")
                        h6 ~mbash
                    .col.text-left
                        .div(style="position: absolute; bottom: 0px;")
                            h6 Balance
                            h4
                                span(th:text="${balance}") 
                                span.p-2(style="font-size: 18px; color: #00A3FF;") Mx's
            #user_action_btn
                ._btn_div
                    svg(width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M4.76954 4.91769C4.00555 4.91769 3.27284 5.22119 2.73261 5.76142C2.19238 6.30165 1.88889 7.03435 1.88889 7.79835V25.0823C1.88889 25.8463 2.19238 26.579 2.73261 27.1192C3.27284 27.6595 4.00555 27.963 4.76954 27.963H19.1728C19.9368 27.963 20.6695 27.6595 21.2098 27.1192C21.75 26.579 22.0535 25.8463 22.0535 25.0823V23.642M15.4485 6.95463C14.9082 7.49485 14.1755 7.79835 13.4115 7.79835H10.5309C9.76686 7.79835 9.03416 7.49485 8.49393 6.95463C7.9537 6.4144 7.6502 5.68169 7.6502 4.91769C7.6502 4.15369 7.9537 3.42099 8.49393 2.88076C9.03416 2.34053 9.76686 2.03703 10.5309 2.03703H13.4115C14.1755 2.03703 14.9082 2.34053 15.4485 2.88076M19.1728 4.91769C19.9368 4.91769 20.6695 5.22119 21.2098 5.76142C21.75 6.30165 22.0535 7.03435 22.0535 7.79835V12.1193M24.9342 17.8807H10.5309M10.5309 17.8807L14.8518 13.5597M10.5309 17.8807L14.8518 22.2016" stroke="black" stroke-width="2.88066" stroke-linecap="round" stroke-linejoin="round")
                ._btn_div
                    svg(width='36' height='26' viewbox='0 0 36 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.934143 3.27777C0.934143 1.49537 2.5112 0.0370331 4.43871 0.0370331H30.7229C31.1877 0.0370331 31.6334 0.20775 31.962 0.511629C32.2906 0.815507 32.4752 1.22765 32.4752 1.6574V3.27777H4.43871V4.89814H34.2275C34.6922 4.89814 35.1379 5.06886 35.4666 5.37274C35.7952 5.67662 35.9798 6.08877 35.9798 6.51851V22.7222C35.9798 23.5817 35.6106 24.406 34.9533 25.0138C34.2961 25.6215 33.4047 25.963 32.4752 25.963H4.43871C3.50924 25.963 2.61784 25.6215 1.96061 25.0138C1.30337 24.406 0.934143 23.5817 0.934143 22.7222V3.27777ZM29.8468 17.8611C30.5439 17.8611 31.2125 17.605 31.7054 17.1492C32.1983 16.6934 32.4752 16.0752 32.4752 15.4306C32.4752 14.7859 32.1983 14.1677 31.7054 13.7119C31.2125 13.2561 30.5439 13 29.8468 13C29.1497 13 28.4812 13.2561 27.9882 13.7119C27.4953 14.1677 27.2184 14.7859 27.2184 15.4306C27.2184 16.0752 27.4953 16.6934 27.9882 17.1492C28.4812 17.605 29.1497 17.8611 29.8468 17.8611Z' fill='black')
                        path(d='M13.0653 10.0085C9.34307 10.0085 6.32578 12.7987 6.32578 16.2407C6.32578 19.6828 9.34307 22.4729 13.0653 22.4729C16.7876 22.4729 19.8049 19.6828 19.8049 16.2407C19.8049 12.7987 16.7876 10.0085 13.0653 10.0085ZM16.4351 16.8639H13.7393V19.3568H12.3914V16.8639H9.69555V15.6175H12.3914V13.1246H13.7393V15.6175H16.4351V16.8639Z' fill='white')
                ._btn_div
                    svg(width='25' height='26' viewbox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M17.1129 0.745743C15.9706 0.745603 14.8422 0.993185 13.8081 1.4709C12.7739 1.94861 11.8593 2.64472 11.1293 3.50977C10.3992 4.37482 9.87162 5.38757 9.58398 6.47606C9.29633 7.56456 9.2557 8.70207 9.46498 9.80776L0 19.1271V23.7225C0 24.1287 0.163905 24.5183 0.455659 24.8056C0.747412 25.0929 1.14311 25.2543 1.55572 25.2543H3.11143V23.7225H6.22286V20.6589H9.3343V17.5953H12.4457L14.465 15.6071C15.5325 15.9872 16.6714 16.1326 17.802 16.0332C18.9326 15.9338 20.0274 15.592 21.0095 15.0318C21.9917 14.4716 22.8374 13.7065 23.4874 12.7903C24.1373 11.874 24.5758 10.8288 24.7719 9.72803C24.968 8.62723 24.9171 7.49751 24.6227 6.41815C24.3283 5.33879 23.7975 4.33595 23.0677 3.48001C22.3378 2.62407 21.4266 1.93577 20.3979 1.46342C19.3692 0.991067 18.2479 0.746111 17.1129 0.745743ZM19.4433 8.40772C19.1368 8.40761 18.8333 8.34806 18.5501 8.23246C18.2669 8.11686 18.0096 7.94748 17.7929 7.73398C17.5762 7.52048 17.4044 7.26704 17.2872 6.98814C17.1699 6.70925 17.1097 6.41035 17.1098 6.10851C17.1099 5.80668 17.1703 5.50782 17.2878 5.22899C17.4052 4.95017 17.5772 4.69685 17.794 4.48349C18.0109 4.27013 18.2683 4.10092 18.5515 3.9855C18.8348 3.87009 19.1383 3.81074 19.4449 3.81084C20.064 3.81104 20.6577 4.05339 21.0953 4.48458C21.5329 4.91576 21.7787 5.50046 21.7785 6.11004C21.7783 6.71963 21.5321 7.30416 21.0942 7.73506C20.6563 8.16596 20.0624 8.40792 19.4433 8.40772Z' fill='black')
                ._btn_div    
                    svg(width='29' height='28' viewbox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M18.2154 19.5844L22.2443 15.5556H7.20203V12.4444H22.2443L18.2154 8.41556L20.4243 6.22222L28.202 14L20.4243 21.7778L18.2154 19.5844ZM25.8687 0C26.6938 0 27.4851 0.327777 28.0686 0.911223C28.652 1.49467 28.9798 2.28599 28.9798 3.11111V10.3756L25.8687 7.26444V3.11111H4.09092V24.8889H25.8687V20.7356L28.9798 17.6244V24.8889C28.9798 25.714 28.652 26.5053 28.0686 27.0888C27.4851 27.6722 26.6938 28 25.8687 28H4.09092C3.26581 28 2.47448 27.6722 1.89104 27.0888C1.30759 26.5053 0.979813 25.714 0.979813 24.8889V3.11111C0.979813 1.38444 2.36426 0 4.09092 0H25.8687Z' fill='#00F0FF')

        //- ----------------------
        //- Wallet Send Funds Form
        //- ----------------------

        .col-lg-4
            .container#sendFunds_cont
                //- form
                h3 Send Funds
                .form-group
                    +input_form("Recipients Address", "r_address")
                    +input_form("Amount", "amount")
                    label(for="msg_text" class="control-label") Transaction Message
                    div#msg_text(contenteditable required)
                button#sendTx.button_main_light_hollow
                    span.mr-2 Send Funds
                    svg(width='14' height='13' viewbox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M13.1768 5.85895L1.13509 0.192286C1.01385 0.134923 0.878796 0.113199 0.74568 0.129647C0.612564 0.146094 0.486863 0.200036 0.383229 0.285186C0.279595 0.370335 0.202296 0.483184 0.160339 0.610582C0.118383 0.737979 0.113499 0.874678 0.146255 1.00474L1.51971 6.49999L0.146255 11.9952C0.113192 12.1254 0.117863 12.2622 0.159722 12.3898C0.20158 12.5173 0.278895 12.6303 0.382623 12.7155C0.486351 12.8008 0.612203 12.8547 0.745457 12.871C0.878711 12.8873 1.01386 12.8654 1.13509 12.8077L13.1768 7.14104C13.2984 7.08383 13.4013 6.99318 13.4734 6.87966C13.5455 6.76614 13.5838 6.63446 13.5838 6.49999C13.5838 6.36553 13.5455 6.23385 13.4734 6.12033C13.4013 6.00681 13.2984 5.91616 13.1768 5.85895V5.85895ZM1.88238 10.8895L2.47667 8.51166L6.50001 6.49999L2.47667 4.48833L1.88238 2.11045L11.2111 6.49999L1.88238 10.8895Z' fill='#708FFE')

