.container
    .row

        //- Wallet Profile
        .col-lg-5
            .container#walletProfile_cont
                h3 Wallet Profile
                .row.text-center
                    .col
                        img.img-fluid(th:src="@{/images/user_1.png}" alt="user_img")
                        h6 ~mbash
                    .col.text-left
                        .div(style="position: absolute; bottom: 0px;")
                            h6 Balance
                            h4
                                span(th:text="${balance}") 
                                span.p-2(style="font-size: 18px; color: #00A3FF;") Mx's
                .row.p-2
                    .container(style="display: flex; justify-content: space-around; padding: 5px;")
                        +img_btn("@{/images/Vector_copy.svg#copy_icon}")(id="cpy_pub_add" th:alt="${pub_address}")
                        //- +img_btn("@{/images/Key Vector_key.png}")(id="view_keys")
                        //- +img_btn("@{/images/NewWallet_icon_wallet.png}")(id="new_wallet")
                        //- +img_btn("@{/images/Vector_access.png}")(id="access_wallet")

        //- Wallet Send Funds Form Action
        .col-lg-4
            .container#sendFunds_cont
                //- form
                h3 Send Funds
                .form-group
                    +input_form("Recipients Address", "r_address")
                    +input_form("Amount", "amount")
                    label(for="msg_text" class="control-label") Transaction Message
                    div#msg_text(contenteditable required)
                button#sendTx.button_main_light_hollow Send Funds
                    img(th:src="@{/images/Vector_send.png}" alt="send_vector")
