.container.p-3
    .row

        //- My Wallet Actions & Details
        .col-lg
            .container.text-center.mx-auto
                img(style="border-radius: 80%; width: 100px; height: 100px;" th:src="@{/images/user_1.png}" alt="Avatar")
                p
                    strong ~mbash

                //- Buttons Group [Bootstrap]
                .btn-group-vertical
                    +my_button("Copy Wallet Address", 1)
                    +my_button("View Private Key", 2)
                    +my_button("Generate New wallet", 3)

        //- Wallet balance
        .col-lg
            h3 
                strong Wallet Ballance
            br
            h4
                span(th:text="${balance}") 
                span.p-2(style="font-size: 18px; color: #00A3FF;")
                    strong Mx's

        //- Wallet Send Funds Form Action
        .col-lg
            form
                .form-group
                    h3
                        strong Send Funds
                    +input_form("Recipients Address", 1)
                    +input_form("Amount", 2)
                    +input_form("Transaction Message", 3)
                button.btn.btn-primary(type="submit" th:onclick="submitTX(this)") Send Transaction
                    i(class="fas fa-paper-plane")