// -----------------------
//      Define Fonts
// -----------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
    
// -----------------------
// Define Main Project Colors
// -----------------------
$primary_light: #ffffff;
$secondary_light: #00A3FF;
$secondary_light_shadow: #dddddd;
$terciary_light: #62FE3B;
$primary_dark: #515151;
$secondary_dark: #000000;

// -----------------------
// Import .sass _partials
// -----------------------
@import "sass/layout";
@import "sass/layout_block_explorer";
@import "sass/layout_wallet"
@import "sass/input";
@import "sass/table";
@import "sass/footer";
@import "sass/buttons";
@import "sass/animations";