@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
section {
  min-height: 100vh;
  background-image: url(../../images/Theme.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#status_bar {
  position: relative;
}

input[type="text"], select.form-control, #msg_text {
  background: transparent;
  border: none;
  word-wrap: break-word;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, select.form-control:focus, #msg_text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#msg_text {
  outline: none;
}

table {
  table-layout: fixed;
  zoom: 0.8;
}

table .overflow_style {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(35%, #000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table thead {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:hover {
  -webkit-box-shadow: 0 3px 4px #dddddd;
          box-shadow: 0 3px 4px #dddddd;
}

table tbody tr:nth-child(n+4) {
  display: none;
}

#block_info .row .col {
  -webkit-box-shadow: 0px 4px 4px black;
          box-shadow: 0px 4px 4px black;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
}

#block_info .row .col h5 {
  font-size: 12px;
}

#block_info .row .col:hover {
  background-color: #708FFE;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#block_info .row #matrix_search {
  background-color: #708FFE;
  color: #ffffff;
}

.div_block {
  margin: 30px;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 10px -10px 0 #515151, 0 0 10px #dddddd;
          box-shadow: 10px -10px 0 #515151, 0 0 10px #dddddd;
  border-radius: 5px;
}

.div_block:hover {
  padding: 10px;
  background-color: #00A3FF;
  color: #ffffff;
}

#visual_view_div {
  display: none;
}

#simple_view_div {
  display: block;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

footer ul {
  list-style-type: none;
}

footer a {
  font-weight: bold;
  text-decoration: none !important;
  color: #ffffff;
}

footer a:hover {
  color: #00A3FF;
  cursor: pointer;
}

.button_main {
  -webkit-box-shadow: 0 0 4px #dddddd;
          box-shadow: 0 0 4px #dddddd;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ffffff;
  color: #000000;
  margin: 0px 5px;
}

.button_main:hover, .button_main:focus, .button_main:active {
  background-color: #708FFE;
  color: #ffffff;
}

.button_main_light {
  -webkit-box-shadow: 0 0 4px #dddddd;
          box-shadow: 0 0 4px #dddddd;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ffffff;
  color: #000000;
  margin: 0px 5px;
}

.button_main_light:hover, .button_main_light:focus, .button_main_light:active {
  background-color: #515151;
  color: #ffffff;
}

.info {
  -webkit-box-shadow: 0 0 4px #dddddd;
          box-shadow: 0 0 4px #dddddd;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #515151;
  color: #ffffff;
  margin: 0px 5px;
}

.info strong:nth-child(n+3) {
  color: #62FE3B;
}

/* ____ ANIMATIONS ____*/
.dot {
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
  height: 8px;
  width: 8px;
  background-color: #62FE3B;
  border-radius: 50%;
  display: inline-block;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */