// _______________________
// Define Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
// _______________________
// Define Main Project Colors
$primary_light: #ffffff;
$secondary_light: #00A3FF;
$secondary_light_shadow: #dddddd;
$terciary_light: #62FE3B;
// ===
$primary_dark: #515151;
$secondary_dark: #000000;

// _______________________
// Import .sass components
@import "sass/layout";
@import "sass/input";
@import "sass/table";
@import "sass/block_explorer";
@import "sass/footer";
@import "sass/buttons";
@import "sass/animations";