@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
h6 {
  font-family: 'Open Sans';
  font-size: 14px;
}

section {
  min-height: 100vh;
  background-image: url(../../images/Theme.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

input[type="text"], select.form-control, #msg_text {
  background: transparent;
  border: none;
  word-wrap: break-word;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus, select.form-control:focus, #msg_text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#msg_text {
  outline: none;
}

table {
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid #dddddd;
}

tbody tr:hover {
  -webkit-box-shadow: 0 3px 4px #dddddd;
          box-shadow: 0 3px 4px #dddddd;
  border-radius: 5px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

td {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
}

td.overflow_style {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(35%, #000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#table_simple {
  zoom: 0.65;
}

#matrix_search {
  background-color: #708FFE;
  color: #ffffff;
}

#simple_view_div {
  display: none;
}

#simple_view_div .row .col {
  -webkit-box-shadow: 0px 4px 4px black;
          box-shadow: 0px 4px 4px black;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
}

#simple_view_div .row .col:hover {
  background-color: #708FFE;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#simple_view_div .row .col h5 {
  font-size: 12px;
}

#visual_view_div {
  display: none;
}

.out_block_div {
  height: 150px;
  width: 100px;
  display: inline-block;
  margin: 30px;
  cursor: pointer;
  position: relative;
}

.out_block_div::after {
  content: " ";
  display: block;
  position: absolute;
  height: 5px;
  background: #515151;
  width: 60px;
  left: 100%;
  top: calc(50% - 2px);
  z-index: -1;
}

.out_block_div:hover .div_block {
  background-color: #00A3FF;
  color: #ffffff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.out_block_div:hover h6 {
  color: #000000;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.out_block_div h6 {
  color: #dddddd;
  text-align: center;
  padding: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.out_block_div .div_block {
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 10px -10px 0 #515151, 0 0 10px #dddddd;
          box-shadow: 10px -10px 0 #515151, 0 0 10px #dddddd;
  border-radius: 5px;
  padding: 10px;
}

.out_block_div .div_block ul {
  padding: 0px;
  margin: 0px;
}

.out_block_div .div_block li {
  font-size: 8px;
  list-style-type: none;
}

.out_block_div .div_block li.overflow_style {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(35%, #000000), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

footer img {
  height: 64px;
}

footer ul {
  list-style-type: none;
}

footer a {
  font-weight: bold;
  text-decoration: none !important;
  color: #ffffff;
}

footer a:hover {
  color: #00A3FF;
  cursor: pointer;
}

footer #cpy_right {
  font-size: 12px;
  font-font-family: 'Open Sans';
  background-color: #515151;
  color: #C0E8FF;
  padding: 5px;
  text-align: center;
}

.button_main {
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ffffff;
  color: #000000;
  margin: 0px 5px;
  -webkit-box-shadow: 0 0 4px #dddddd;
          box-shadow: 0 0 4px #dddddd;
}

.button_main:hover, .button_main:focus, .button_main:active {
  background-color: #708FFE;
  color: #ffffff;
}

.button_main_light {
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #ffffff;
  color: #000000;
  margin: 0px 5px;
}

.button_main_light:hover, .button_main_light:focus, .button_main_light:active {
  background-color: #515151;
  color: #ffffff;
}

.button_main_light_hollow {
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: transparent;
  color: #ffffff;
  margin: 0px 5px;
  border: 1px solid #ffffff;
  font-size: 10px;
}

.button_main_light_hollow:hover {
  background-color: #ffffff;
  color: #708FFE;
}

.info {
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-sizes: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #515151;
  color: #ffffff;
  margin: 0px 5px;
}

.info strong:nth-child(n+3) {
  color: #62FE3B;
}

/* ____ ANIMATIONS ____*/
.dot {
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
  height: 8px;
  width: 8px;
  background-color: #62FE3B;
  border-radius: 50%;
  display: inline-block;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.enabled {
  display: block !important;
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */